:root {
    --primary-color: #941100;
    --secondary-color: #14110f;
    --accent1-color: #19647E;
    --accent2-color: #A0ACAD;
}

body {
    margin: 0;
}

#content {
    max-width: 1024px;
    margin: auto;
}

.patrick-hand-sc-regular {
    font-family: "Patrick Hand SC", serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

div.hero {
    position: relative;
}

div.hero img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
}

.hero h1 {
    position: absolute;
    top: 40px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 4rem;
    background-color: rgba(148, 17, 0, .7);
}

.hero article {
    position: absolute;
    top: 41%;
    margin-left: 40px;
    margin-right: 40px;
    background-color: rgba(148, 17, 0, .7);
}

#smallimage {
    float: right;
    width: 300px;
    height: auto;
    margin: 1em 1em 1em 1em;
}

#text {
    padding-left: 1em;
    color: white;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding-bottom: .65rem;
    border-bottom: 1px solid #ccc;
    align-items: stretch;
}

header img {
    margin: auto;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav a {
    color: #941100;
    font-size: 1.30rem;
    text-decoration: none;
}

header nav a:hover {
    color: #14110f;
    font-weight: 650;
}

.history-lay {
    display: grid;
    margin: 3rem auto;
    grid-template-rows: 50px auto;
    grid-template-columns: 2fr 1fr 2fr;
}

.history-lay img {
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: center;
}

.history-lay h2 {
    grid-column: 2/3;
    justify-self: center;
    align-self: center;
    font-size: 2.5rem;
}

#left {
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: center;
    margin: 0;
}

#right {
    grid-column: 3/4;
    grid-row: 2/3;
    justify-self: center;
    margin: 0;
}

.adgrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 70px 3fr;
    margin: 2rem auto;
}

.adgrid h2 {
    font-size: 3rem;
    grid-row: 1/2;
    grid-column: 1/6;
    justify-self: center;
    align-self: center;
}

.adgrid figure {
    border: thin white solid;
    display: flex;
    flex-flow: column;
    margin: 0;
}

.adgrid figure figcaption {
    background-color: #941100;
    color: white;
    text-align: center;
    font: italic smaller sans-serif;
}

footer {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 5rem;
    height: 7rem;
    justify-content: space-around;
    background: #14110f;
    margin-bottom: 0;
}

#foot {
    justify-self: center;
    align-self: center;
    grid-column: 2/3;
    font-size: 1.25rem;
    color: white;
}

.sociallinks {
    grid-column-start: 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sociallinks a {
    text-decoration: none;
}

.employees {
    display: flex;
    justify-content: space-around;
    margin: 2rem 0.5rem;
}

.employeefig {
    margin: 0;
}

.employeefig img {
    box-shadow: 0 0 30px gray;
}

.employeefig figcaption {
    background-color: #941100;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 1.75rem;
    line-height: 1.75rem;
}

.ticket h1 {
    font-size: 3rem;
    text-align: center;
}

form {
    width: 40rem;
    margin: 0 auto;
    margin-bottom: 8rem;
    padding: 2rem;
    padding-bottom: 1rem;
    box-sizing: border-box;
    display: grid;
    border: 1px solid black;
    background-color: rgba(160, 172, 173, 0.2);
    grid-template-rows: 6fr 1fr;
    border-radius: 1rem;
    box-shadow: 0 0 14px #19647E;
}

.fieldform {
    display: grid;
}

.fieldform div {
    display: flex;
    margin: 1rem;
}

.purposediv {
    margin-bottom: 0;
}

.purposediv label {
    align-self: center;
}

.messagediv label {
    align-self: center;
}

input, textarea {
    margin-left: 1rem;
}

.contactformtitle {
    font-size: 1.5rem;
    font-weight: 500;
}

button {
    margin: 1rem;
    background-color: #14110f;
    color: white;
    font-size: 1.3rem;
    justify-self: center;
    width: 200px;
    border: none;
    border-radius: 0.15rem;
}

button:hover {
    background-color: #941100;
}

.compinfo {
    border: 1px solid black;
    border-radius: 1rem;
    margin: 8rem 3rem 7rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .75fr 3fr;
    background-color: rgba(160, 172, 173, 0.2);
}

.map {
    grid-column-start: 2;
    margin-left: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.comptext {
    grid-column-start: 1;
    margin-left: 7rem;
    border-right: 1px solid black;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.compinfo h2 {
    grid-column: 1/3;
    justify-self: center;
    font-size: 2.5rem;
}

.comptext h3 {
    font-size: 1.5rem;
    margin-bottom: .75rem;
}

.wireframelink {
    color: white;
}

div.tripshero {
    position: relative;
    border-bottom: 1px solid #A0ACAD;
    padding-bottom: 5rem;
}

div.tripshero img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
}

.tripshero h1 {
    position: absolute;
    top: 12rem;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 3rem;
    background-color: rgba(148, 17, 0, .8);
}

div.tripshero p {
    color: #14110f;
    text-align: center;
    margin: 5.5rem 3rem 1.75rem;
}

div.tripshero a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    color: white;
    border: 1px solid black;
    margin-left: 300px;
    margin-right: 300px;
    background-color: #14110f;
    border-radius: .5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

div.tripshero a:hover {
    background-color: rgba(25, 100, 126, .8);
}

.featuredtripstitle {
    display: block;
    text-align: center;
    font-size: 3.5rem;
    margin-top: 2rem;
    margin-bottom: 0;
}

.featuredtrips {
    display: flex;
    justify-content: space-around;
    margin-top: 0.5rem;
    border-bottom: 1px solid #A0ACAD;
    padding-bottom: 3rem;
}

.tripfigure {
    margin: 0;
    max-width: 275px;
}

.tripfigure img {
    box-shadow: 0 0 15px #19647E;
}

.tripfigure h3 {
    margin: 0.75rem;
    font-weight: 450;
    font-size: 1.5rem;
    text-align: center;
    color: #941100;
}

.alladventures {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.alladventures h4 {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.tripstable {
    text-align: center;
    margin: auto;
    width: 800px;
    height: 300px;
}

.tripstable th {
    background: #941100;
    color: white;
    height: 50px;
    letter-spacing: 0.1rem;
}

.firstcell {
    background-color: #0e566e;
    color: white;
}

.fury {
    background-color: #14110f;
    color: white;
}

.tablerows {
    background-color: rgba(160, 172, 173, .4)
}

.homepagehero {
    position: relative;
    max-width: 1920px;
    margin: 0;
}

.homepagehero img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
}

.homepagehero h1 {
    position: absolute;
    top: 6.3rem;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 4rem;
    background-color: #14110f;
}

.homepagehero h2 {
    position: absolute;
    bottom: 26.5rem;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 2rem;
    background-color: #19647E;
}

.homepagehero a {
    position: absolute;
    bottom: 13.5rem;
    left: 50%;
    margin-left: -142.8px;
    text-align: center;
    color: white;
    font-size: 2rem;
    text-decoration: none;
    background-color: #941100;
    padding-left: 45px;
    padding-right: 45px;
}

.homepagegrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin-top: 5.3rem;
}

.homepagegrid figure {
    margin: 0;
    display: grid;
    justify-items: center;
    row-gap: 10px;
}

.homeimageactivity {
    padding: 10px;
    background-color: rgba(148, 17, 0, .9);
    box-shadow: 0 0 10px #14110f;
}

.homepageform {
    width: 25rem;
    margin: 0 auto;
    padding: 1rem;
    padding-bottom: 0.5rem;
    box-sizing: border-box;
    display: grid;
    border: 1px solid black;
    background-color: rgba(148, 17, 0, .9);
    grid-template-rows: 1fr 100px;
    border-radius: 1rem;
    box-shadow: 0 0 14px #19647E;
    grid-column: 5 / 7;
    color: white;
}

.emailsignup {
    margin: 1.5rem;
    background-color: #14110f;
    color: white;
    font-size: 1rem;
    justify-self: center;
    width: 140px;
    border: none;
    border-radius: 0.15rem;
    padding: 2px;
}

.emailsignup:hover {
    background-color: #19647E;
}

.homepagenewsletter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    margin-top: 4rem;
    margin-bottom: 5rem;
}

.homepagenewsletter h3 {
    grid-column: 5 / 7;
    margin: 0 auto;
    align-self: flex-end;
    font-size: 1.5rem;
    margin-bottom: 10px;
    background-color: rgba(148, 17, 0, .9);
    border-radius: 1rem;
    box-shadow: 0 0 14px #19647E;
    padding: 10px;
    color: white;
}

.homepagenewsletter img {
    grid-column: 2 / 4;
    grid-row: 1 / 4;
    z-index: -1;
}