:root {
    --primary-color: #941100;
    --secondary-color: #14110f;
    --accent1-color: #19647E;
    --accent2-color: #A0ACAD;
}

#content {
    max-width: 1024px;
    margin: auto;
}

.patrick-hand-sc-regular {
    font-family: "Patrick Hand SC", serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

div.hero {
    position: relative;
}

div.hero img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
}

h1 {
    position: absolute;
    top: 40px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 4rem;
    background-color: rgba(148, 17, 0, .7);
}

article {
    position: absolute;
    top: 41%;
    margin-left: 40px;
    margin-right: 40px;
    background-color: rgba(148, 17, 0, .7);
}

#smallimage {
    float: right;
    width: 300px;
    height: auto;
    margin: 1em 1em 1em 1em;
}

#text {
    padding-left: 1em;
    color: white;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding-bottom: .65rem;
    border-bottom: 1px solid #ccc;
    align-items: stretch;
}

header img {
    margin: auto;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav a {
    color: #941100;
    font-size: 1.30rem;
    text-decoration: none;
}

header nav a:hover {
    color: #14110f;
    font-weight: 650;
}

.history-lay {
    display: grid;
    margin: 1rem auto;
    grid-template-rows: 50px auto;
    grid-template-columns: 2fr 1fr 2fr;
}

.history-lay img {
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: center;
}

.history-lay h2 {
    grid-column: 2/3;
    justify-self: center;
    align-self: center;
    font-size: 2.5rem;
}

#left {
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: center;
    margin: 0;
}

#right {
    grid-column: 3/4;
    grid-row: 2/3;
    justify-self: center;
    margin: 0;
}

.adgrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 70px 3fr;
    margin: 2rem auto;
}

.adgrid h2 {
    font-size: 3rem;
    grid-row: 1/2;
    grid-column: 1/6;
    justify-self: center;
    align-self: center;
}

figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    margin: 0;
}

figcaption {
    background-color: #19647E;
    color: white;
    text-align: center;
    font: italic smaller sans-serif;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 9rem;
    justify-content: space-around;
    background: black;
    margin-bottom: 0;
}

#foot {
    justify-self: center;
    align-self: center;
    grid-column: 2/4;
    font-size: 1.5rem;
    color: white;
}

.sociallinks {
    grid-column-start: 4;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sociallinks a {
    text-decoration: none;
}